# Git
.git
.gitignore

# IDE
.idea
*.iml
.vscode

# Build artifacts
target/
*/target/

# Test results
allure-results/
*/allure-results/
allure-report/
*/allure-report/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentation
*.md
!README.md