### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/

### Logs ###
*.log
logs/
log/

### System Files ###
.DS_Store
Thumbs.db

### Playwright ###
playwright-report/
test-results/
blob-report/
.playwright/
**/playwright/.cache/

### Allure ###
allure-results/
allure-report/

### Environment Files ###
*.properties.local
.env
