### Maven ###
target/

### IntelliJ ###
.idea/
*.iml
out/

### Playwright ###
playwright-report/
test-results/
blob-report/
.playwright/

### Allure ###
allure-results/
allure-report/

### Screenshots & Videos ###
screenshots/
videos/

### Logs ###
*.log
